#seekerdata{
    font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  
}
#seekerdata td, #seekerdata th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #seekerdata tr:nth-child(even){background-color: #6bdfdd;}
  
  #seekerdata tr:hover {background-color: #ddd;}
  
  #seekerdata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00acaa;
    color: white;
  }
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    
}
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #table tr:nth-child(odd){background-color: #8a8989 ; opacity: 0.9;}
  #table tr:nth-child(even){background-color: #1c1c1c;opacity: 0.7;}
  
  #table tr:hover {background-color: #bc4f4f;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
  }

  .data{
    align-content: center;
  }